/* You can add global styles to this file, and also import other style files */

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

h1 {
  color: #2e4799;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: #888;
  margin: 12px 0;
  text-transform: uppercase;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
}
