/* HeroesComponent's private CSS styles */
.heroes {
  display: flex;
  flex-flow: wrap row;
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 100%;

  a {
    background-color: #EEE;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 1.6em;
    left: 0;
    margin: .5em 1em .5em 0;
    min-width: 20%;
    padding: .3em .8em .3em 0;
    position: relative;
    text-decoration: none;
    transition: background-color .2s ease-out;
    width: auto;

    &:hover {
      background-color: #DDD;
      color: #607D8B;
    }

    //&.selected {
    //  background-color: #CFD8DC !important;
    //  color: white;
    //  font-weight: bold;
    //}
  }

  .badge {
    background-color: #607D8B;
    border-radius: 4px 0 0 4px;
    color: white;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    margin-right: .8em;
    left: -1px;
    line-height: 1em;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    top: -4px;
  }
}
